<html>
 <footer>
  <br><br><br>
   <div class="left" style="margin-left: 100px;">
    <!-- <a href="/privacy" style="color: grey; text-decoration: none; font-size: 20px;">Privacy Policy </a> -->
    <center>
     <p style="color: white;"><strong>© 2021 ToxicFX</strong></p>
     <a href="/discord" target="_blank" ><img src="https://vignette.wikia.nocookie.net/atlas-reactor/images/8/81/Discord-Emblem.png/revision/latest?cb=20170526114321" style="width: 83px; height: 80px;"></a>
     <a href="/github" target="_blank"><img src="https://icon-library.com/images/github-icon-white/github-icon-white-6.jpg" style="width: 40px; height: 40px;"></a>
   </center>
  </div>
 </footer>
</html>
