<!doctype html>
<html lang="en"> 
<head> 
    <meta charset="utf-8"> <meta name="robots" content="noodp"> <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>ToxicFX | 500 - Internal Server Error</title>
    <link rel="shortcut icon" href="/images/TFX-Transparent.png">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,600|Raleway:300,400" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/styles/main.css">
    <!-- <link rel="stylesheet" type="text/css" href="/static/styles/custom.css"> -->
    <script src="https://kit.fontawesome.com/22859885a2.js" crossorigin="anonymous"></script>
</head>

<body>
    <%- include("components/header") %>
<br><br><br><br><br><br>

<center>

<h1 style="font-size: 100px; color: white;">
<strong>500</strong>
</h1>

<h3> Somethings seriously wrong here, Please report this to my dev team <a href="/discord" style="color: #00B0E1;">here </a></h3>

</center>

<br><br><br><br><br><br><br><br><br><br><br><br>
<%- include("components/footer") %>
</body>

</html>
