<!doctype html>
<html lang="en"> 
<head> 
    <meta charset="utf-8"> <meta name="robots" content="noodp"> <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>ToxicFX Loading Screen</title>
    <link rel="shortcut icon" href="/images/TFX-Transparent.png">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,600|Raleway:300,400" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/styles/style.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/custom.css">
    <script src="https://kit.fontawesome.com/22859885a2.js" crossorigin="anonymous"></script>
</head>
<body>
  <!-- <audio id="loading" autoplay loop ><source src="/music/human_ragnbone.mp3" type="audio/mp3"></audio> --> 
    <div id="main">
    <div id="page-loader">
        <div class="spinner-container">
            <div class="css-spinner">
            </div>
        </div>
    </div>
    <section id="hero" class="hero hero-1">
      <div class="video-background">
            <iframe class="videoContainer__video" height="100%" width="130%" src="https://www.youtube.com/embed/HWurFwhu09s?controls=0&amp;showinfo=0&amp;rel=0&amp;autoplay=1&amp;loop=1&amp;mute=1" frameborder="0"></iframe>
       </div>
        <div class="front-content page-enter-animated">
            <div class="container-mid"> <img class="logo" src="/images/awrp/awrplogo.png" alt="logo" height="25%" width="25%"></div>
            <p>SCROLL DOWN</p></div></div><div class="background-content page-enter-animated">
                        <div class="level-1">
                            <div class="bg-overlay"></div>
                            <div class="bg-pattern"></div>
                            <div id="canvas">
                                <canvas class="bg-effect layer" data-depth="0.2"></canvas>
                            </div>
                        </div>
                        <div class="level-2">
                            <div class="bg-image layer" data-depth="0.04"></div>
                            <div class="bg-video layer" data-depth="0.04"></div>
                            <div class="bg-color layer" data-depth="0.04"></div>
                        </div>
                    </div>
                </section>
                <div id="overlay">
                    <section class="overlay">
                        <div class="content">
                            <div class="container-mid">
                                <div class="container">
                                    <h1>RULES</h1>
                                    <h5><a class="color-main"> 1. </a>Fail Role play of any kind is strictly prohibited and will be met with a strike or removal from the community.</h5>
                                    <h5><a class="color-main"> 2. </a>Meta-gaming in any fashion is not tolerated and will be met with removal from the community or a community strike.</h5>
                                    <h5><a class="color-main"> 3. </a>Failure to use Fear RP will result in an immediate strike or removal from the community.</h5>
                                    <h5><a class="color-main"> 4. </a>Extreme Sexual or racism RP is not allowed. These RPs will be met with a strike or removal from the community based on severity.</h5>
                                    <h5><a class="color-main"> 5. </a>If you can spawn a vehicle, you may use it. Do not spawn vehicles out of no where when in scenes such as pursuits as it will be counted as FRP.</h5>
                                    <h5><a class="color-main"> 6. </a>This server is a public server, you will find FRP or other rule violations. As much as staff tries to be active and stop it, it is impossible to stop it all. It is recommended for you to report and suspicious people or rule breakers directly to staff.</h5>
                                </div>
                            </div>
                        </section>
                        <section class="overlay">
                            <div class="content">
                                <div class="container-mid">
                                    <div class="container">
                                        <h1>STAFF</h1>
                                        <div class="column">
                                          <div class="card">
                                            <img src="/images/awrp/5bcb69b7fc143966592df44bf8b4f0ec.png" style="width:80%">
                                            <h2>X. Henry</h2>
                                          </div>
                                        </div>
                                        <div class="column">
                                          <div class="card">
                                            <img src="/images/awrp/41dd388aaa1ec4e961bee84dc522d50f.png" style="width:80%">
                                            <h2>K. Padgett</h2>
                                          </div>
                                        </div>
                                          <div class="column">
                                          <div class="card">
                                            <img src="/images/awrp/3d8e4288c0807e490b60611c8643448d.png" style="width:80%">
                                            <h2>S. Himer</h2>
                                          </div>
                                        </div>
                                         <div class="column">
                                          <div class="card">
                                            <img src="/images/awrp/cf2b84812e29f9d870db1116badd5a72.png" style="width:80%">
                                            <h2>B. Repass</h2>
                                          </div>
                                        </div>
                                         <div class="column">
                                          <div class="card">
                                            <img src="/images/awrp/0808c0b890fc9ee40a3331afa767041c.png" style="width:80%">
                                            <h2>S. Parkinson</h2>
                                          </div>
                                        </div>
                                        <div class="column">
                                          <div class="card">
                                            <img src="/images/awrp/250acc1a10f0da1dc19f62f32d8c1c53.png" style="width:80%">
                                            <h2>T. Mosby</h2>
                                          </div>
                                        </div>
                                           <div class="column">
                                          <div class="card">
                                            <img src="/images/awrp/3a4d5d04eaf7995c843e2bc99f114ec6.png" style="width:80%">
                                            <h2>F. Jameson</h2>
                                          </div>
                                        </div>
                                          <div class="column">
                                          <div class="card">
                                            <img src="/images/awrp/31cecd6635b6b337972f0370a5e530e8.png" style="width:80%">
                                            <h2>B. Levine</h2>
                                          </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <!-- <section class="overlay">
                                <div class="content">
                                    <div class="container-mid">
                                        <div class="container">
                                            <h1>PARTNERS</h1>
                                            <div class="column">
                                              <div class="card">
                                                <img src="/images/partner/partner.png" style="width:50%">
                                                <h2>Partner 1</h2>
                                              </div>
                                            </div>
                                            <div class="column">
                                              <div class="card">
                                                <img src="/images/partner/partner.png" style="width:50%">
                                                <h2>Partner 2</h2>
                                              </div>
                                            </div>
                                            <div class="column">
                                              <div class="card">
                                                <img src="/images/partner/partner.png" style="width:50%">
                                                <h2>Partner 3</h2>
                                              </div>
                                            </div>
                                            <div class="column">
                                              <div class="card">
                                                <img src="/images/partner/partner.png" style="width:50%">
                                                <h2>Partner 4</h2>
                                              </div>
                                            </div>
                                            <div class="column">
                                              <div class="card">
                                                <img src="/images/partner/partner.png" style="width:50%">
                                                <h2>Partner 5</h2>
                                              </div>
                                            </div>
                                            <div class="column">
                                              <div class="card">
                                                <img src="/images/partner/partner.png" style="width:50%">
                                                <h2>Partner 6</h2>
                                              </div>
                                            </div>
                                        </div>
                                    </div>
                                </section> -->
                                    </div>
                                </div>
                                <script type="text/javascript" src="/static/javascript/script.js"></script>
                                <script>
                                  var play = false;
                                          var vid = document.getElementById("loading");
                                          vid.volume = 0.3;
                                          window.addEventListener('keyup', function(e)
                                          {
                                              if (e.which == 69){
                                                  vid.volume = Math.min(vid.volume + 0.1,1);
                                              } else if(e.which == 65){
                                                  vid.volume = Math.max(vid.volume - 0.1,0);
                                              };
                                          });
                                  </script>
</body>
</html>
