<!doctype html>
<html lang="en"> 
<head> 
    <meta charset="utf-8"> <meta name="robots" content="noodp"> <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>ToxicFX | Framework Changes</title>
    <meta name="og:description" content="Updates and Info for all versions of the ToxicFX Framework." />
    <meta name="og:image" content="/images/TFX-Transparent.png" />
    <meta name="og:title" content="ToxicFX" />
    <meta name="theme-color" content="#00B0E1" />
    <meta name="keywords" content="fivem, scripts, roleplay, community, discord">
    <meta property="og:description" content="Updates and Info for all versions of the ToxicFX Framework." />
    <meta name="og:image" content="/images/TFX-Transparent.png" />
    <meta name="theme-color" content="#00B0E1" />
    <link rel="shortcut icon" href="/images/TFX-Transparent.png">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,600|Raleway:300,400" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/styles/main.css">
    <!-- <link rel="stylesheet" type="text/css" href="/static/styles/custom.css"> -->
    <script src="https://kit.fontawesome.com/22859885a2.js" crossorigin="anonymous"></script>
</head>

<style>
.card.versions {
background-color: #1a1919!important;
padding: 10px;
padding-top: 10px;
border-radius: 5px;
  }
</style>

<body>

<%- include("../components/header") %>

<center>
  <br>
  <div id="image-bg"></div>
 <div id="particles-js"></div>
  <img src="/images/TFX-Transparent.png" style="border-radius: 20px; width: 260px; height: 260px;">
  <br>
  <br>
  <br>
 <div class="container">
  <h1 style="font-size: 60px;">ToxicFX</h1>
 </div>
<h4 style="color: white;"> Providing FiveM Server Owners with all the tools they need to bring their users a Better, More Realistic Roleplay Experience.</h4>
<br>
</center>
<br>
<br>
<center>
  <script>
    // Set the date we're counting down to
    function openVote() {
  document.getElementById("myvote").style.display = "block";
}
function closeVote() {
  document.getElementById("myvote").style = "display: none;";
}
  </script>
</center>
<br>
<br>
<div class="left">
<p><center><strong style="font-size: 40px; margin-right: 40px;"><i class="fa fa-upload-o"></i> Framework Versions</strong></center></p>
</div>
<div class="container">
    <div class="card versions">
      <div class="container">
      <p><strong style="font-size: 30px;"> v1.0.3</strong></p>
    </div>
      <p style="color: rgb(197, 197, 197);">• Update and Release the completed Server Utilitys</p>
      <p style="color: rgb(197, 197, 197);">• Update and Release the completed Client Utilitys</p>
      <p style="color: rgb(197, 197, 197);">• Create, Update and Release the base GUI Components</p>
      <p style="color: rgb(197, 197, 197);">• Create, Update and Release the base Banking Components</p>
      <p style="color: rgb(197, 197, 197);">• Create, Update and Release the base Money Components</p>
      <p style="color: rgb(197, 197, 197);">• Create, Update and Release the completed Ban Manager</p>
      <p style="color: rgb(197, 197, 197);">• Create the base Logging Structure (will be updated later)</p>
      <p style="color: rgb(197, 197, 197);">• Create the base Database Structure and Functions Needed</p>
      <p style="color: rgb(197, 197, 197);">• Create, Update and Release the base ShitLordJumping</p>
      <p style="color: rgb(197, 197, 197);">• Create and Implement a working Version Checker</p>
      <p style="color: rgb(197, 197, 197);">• Create and Implement a working Timer</p>
      <p style="color: rgb(197, 197, 197);">• Create, Update and Release the Player Manager</p>
      <p style="color: rgb(197, 197, 197);">• Create, Update and Release the HUD (Heads Up Display)</p>
    </div>
    <div class="card versions">
      <div class="container">
      <p><strong style="font-size: 30px;"> v1.0.2</strong></p>
    </div>
      <p style="color: rgb(197, 197, 197);">• Organize the File System</p>
      <p style="color: rgb(197, 197, 197);">• Moved Client Utilitys to utilitys/cl_utils.lua</p>
      <p style="color: rgb(197, 197, 197);">• Moved Server Utilitys to utilitys/sv_utils.lua</p>
    </div>
    <div class="card versions">
      <div class="container">
      <p><strong style="font-size: 30px;"> v1.0.1</strong></p>
    </div>
      <p style="color: rgb(197, 197, 197);">• Create and Implement the base Files for the Ban Manager and all related Server and Client Events</p>
    </div>
    <div class="card versions">
      <div class="container">
      <p><strong style="font-size: 30px;"> v1.0.0</strong></p>
    </div>
      <p style="color: rgb(197, 197, 197);">• Create and Implement the Base Client Events</p>
      <p style="color: rgb(197, 197, 197);">• Create and Implement the Base Client Events</p>
      <p style="color: rgb(197, 197, 197);">• Create and Implement the Base Client Events</p>
    </div>
  </div>
<br>
<%- include("../components/footer") %>
</body>
</html>
