
<!doctype html>
<html lang="en"> 
<head> 
    <meta charset="utf-8"> <meta name="robots" content="noodp"> <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>ToxicFX | Framework Changes</title>
    <meta name="og:description" content="Updates and Info for all versions of the ToxicFX Framework." />
    <meta name="og:image" content="/images/TFX-Transparent.png" />
    <meta name="og:title" content="ToxicFX" />
    <meta name="theme-color" content="#00B0E1" />
    <meta name="keywords" content="fivem, scripts, roleplay, community, discord">
    <meta property="og:description" content="Updates and Info for all versions of the ToxicFX Framework." />
    <meta name="og:image" content="/images/TFX-Transparent.png" />
    <meta name="theme-color" content="#00B0E1" />
    <link rel="shortcut icon" href="/images/TFX-Transparent.png">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,600|Raleway:300,400" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/styles/main.css">
    <!-- <link rel="stylesheet" type="text/css" href="/static/styles/custom.css"> -->
    <script src="https://kit.fontawesome.com/22859885a2.js" crossorigin="anonymous"></script>
</head>

<body>

<%- include("../components/header") %>

<center>
  <br>
  <div id="image-bg"></div>
 <div id="particles-js"></div>
  <img src="/images/TFX-Transparent.png" style="border-radius: 20px; width: 260px; height: 260px;">
  <br>
  <br>
  <br>
</center>
<br>
<br>
<center>
  <script>
    // Set the date we're counting down to
    function openVote() {
  document.getElementById("myvote").style.display = "block";
}
function closeVote() {
  document.getElementById("myvote").style = "display: none;";
}
  </script>
</center>
<br>
<br>
<div class="left">
<p><center><strong style="font-size: 40px; margin-right: 40px;"><i class="fa fa-upload-o"></i> ToxicFX Change Logs</strong></center></p>
</div>
<div class="container">
    <div class="card feautres">
      <div class="container">
      <p><strong style="font-size: 30px;"> ToxicFX Framework</strong></p>
    </div>
      <p style="color: rgb(197, 197, 197);">Change Logs: <a href="/changes/framework">Click Here</a></p>
    </div>
  </div>
<br>
<%- include("../components/footer") %>
</body>
</html>
